.menu{
  align-items: center; 
  display: flex; 
  justify-content: flex-end;

  max-height: 8rem;
  max-width: 5rem;
  
  
}





@media screen and (min-width:992px){

  .menu{
    max-height: 8rem;
    max-width: 60rem;
  }
}