.menu__icon{
  color: #FF9700;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width:992px){
  .menu__icon{    
     display: none;
  }

}

/* @media screen and (min-width:767px){
  .menu__icon{    
     display: none;
  }

} */