.header{
  background: #F9F9F9;
  border-bottom: 1px solid #e4e4e4; 
  height: 4.5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container--header{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;

}
