.header{
  background: #F9F9F9;
  border-bottom: 1px solid #e4e4e4; 
  
  position: fixed;
  left: 0;
  margin-bottom: 4.5rem;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container__header{
  align-items: center;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;

}
