.depoimentos{
  background: #FFFFFF;
  width: 100%;
  padding-bottom: 5rem;
}

.container__depoimentos{
  flex-direction: column;
  /* padding-top: 5rem; */
  /* padding-left: 7.625rem; */
  align-items: center;
  justify-content: center;
}

.depoimento__titulo{
  font-size: 2.125rem;
  margin-bottom: 4rem;
  padding-top: 5rem;
  text-align: center;  
}

.depoimentos__list{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 7.625rem; 
  padding-bottom: 2rem; */
  /* gap: 2rem; */
}

.depoimento{
  display: flex;
  flex-direction: column; 
  gap: 1.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  
  align-items: center; 
  /* justify-content: flex-start; */
  /* width: 20.4375rem; */
  
  height: auto;
  margin-bottom: 3rem;
  /* margin-top: 1.5rem;  */
} 

.depoimento__image{
  /* align-items: center;
  display: inline-flex; */
  width: 13.125rem;
  height: 17.5rem;
  /* margin-top: 3.6875rem;
  margin-bottom: 3.6875rem; */
  margin: 1.5rem auto;
  /* margin-left: 3rem; */
}

.depoimento__conteudo{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding-left: 2rem;
  padding-right: 2rem;
  /* padding-bottom: 3.625rem; */
  padding-bottom: 1.2rem;
  
}

.depoimento__conteudo--texto{
  font-family: Raleway, sans-serif;
  color:#0F241D;
  /* text-align: justify; */
  line-height: 1.5rem;
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 2.25rem;
}

.depoimento__conteudo--texto span{
  font: 700 3rem serif;
  position: absolute;
  top: -1rem;
  left: -1.875rem;
  color: #FF9700;
}

.depoimento__conteudo cite{
  font-family: DM Sans, sans-serif;
  color: #767676;
  font-style: normal;
}

.depoimento__link {
  color: #FF9700;
  font-weight: 700;
}

/* swiper */

.depoimentos__list  .swiper-slide{
  height: auto;
  /* padding-top: 5.1875rem;
  padding-left:  1rem; */
  
}
.depoimentos__list  .swiper-pagination-bullet{
  width: 0.75rem;
  height: 0.75rem;
}

.depoimentos__list .swiper-pagination-bullet-active{
  background:#FF9700;
}

@media screen and (min-width: 900px) {

  .depoimento__titulo{
    margin-bottom: 3.625rem;
  }

  /* .depoimentos__list{
    align-items: center;
    justify-content: center;
  } */
  
  .depoimento{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 1.5rem 1.5rem; */
    padding: 3rem 4rem;
   
  }
  .depoimento__image {
    /* margin-bottom: 100px; */

    width: 16rem;
    height: auto;
    /* margin-top: 4rem; */
    /* object-fit: cover; */
    margin: 0;
  }

  /* .depoimento__conteudo{
    margin-top: 1rem;
  } */

  .depoimento__conteudo--texto{
    max-width: 500px;

    /* margin: 35px 0; */
    /* margin-right: 5rem; */
  }
}