.depoimentos{
  background: #FFFFFF;
  
}

.depoimentos .container{
  margin-left: 0;
  margin-right: 0;
}
.container__depoimentos{
  
  /* display: flex;
  flex-direction: column; */
  padding-top: 5rem;
  padding-left: 7.625rem;
  align-items: center;
  justify-content: center;
}


.depoimento__titulo{
  font-size: 1.75rem;
  margin-bottom: 0;
  padding-top: 5rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  /* width: 20.4375rem; */
  width: 100%;
  /* text-align: center; */
  /* height: 4.25rem; */
}

.depoimentos__list{
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  padding-bottom: 7.625rem;
}

.depoimento{
  /* display: flex; */
  /* flex-direction: column; */
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;

  /* justify-content: center; */
  /* background: #A7D0D3; */
  /* width: 20.4375rem; */
  width: 100vw;
  /* height: 53.875rem; */
  height: -moz-max-content;
  margin-bottom: 1.5rem;
  
}

.depoimento__image{
  align-items: center;
  display: inline-flex;
  width: 13.125rem;
  height: 17.5rem;
  margin-top: 3.6875rem;
  margin-bottom: 3.6875rem;
}

.depoimento__conteudo{
  /* height: 15.375rem;
  width: 20.4375rem; */

  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3.625rem;
}

.depoimento__conteudo--texto{
  font-family: Raleway, sans-serif;
  color:#0F241D;
  text-align: justify;
  line-height: 1.5rem;
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 2.25rem;
}

.depoimento__conteudo--texto span{
  font: 700 3rem serif;
  position: absolute;
  top: -1rem;
  left: -1.875rem;
  color: #FF9700;
}

.depoimento__conteudo cite{
  font-family: DM Sans, sans-serif;
  color: #767676;
  font-style: normal;
}

/* swiper */
.swiper-slide{
  height: auto;
  padding: 5.1875rem 1rem;
}
.swiper-pagination-bullet{
  width: 0.75rem;
  height: 0.75rem;
}
.swiper-pagination-bullet-active{
  background:#FF9700;
}



.swiper-wrapper{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}