.inicio__titulo{
  display: inline-flex;
  color: #F9F9F9;
  font-size: 1.5rem;
  text-align: center;
  width: calc(100vw - 3.0rem);
}

.text--inicio {
  color: #F9F9F9;
  font-size: .85rem;
  text-align: center;
  margin-top: 1rem;
  line-height: 1.25rem;
}

@media  screen and (min-width: 768px) {
  .inicio__titulo{
    font-size: 2rem;
  }

  .text--inicio {
    font-size: 1rem;
  }
}

@media  screen and (min-width: 992px) {
  .inicio__titulo{
    max-width: 44.1875rem;
    text-align: left;
  }

  .text--inicio {
    max-width:23rem;
    text-align: left;
  }


}