#home {
  overflow: hidden;
}

.inicio{
  background: url('../../img/banner/banner.png') no-repeat center / cover;
  background-position-x: 42%;
  height: calc(100vh - 4.5rem);
  margin-top: 3.5rem;
  padding-top: 3.5rem;
  width: 100%;
}

.container__inicio{
  align-items:center;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 100%;
  padding-bottom: 3rem;
}

@media  screen and (min-width: 767px) {

  .container__inicio{
    align-items:flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }

} 