.apoiador__formulario{
  align-items: center;
  background: #E4E4E4;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 2rem 2rem;
  width: 20.4375rem;

}

.apoiador__formulario--titulo{
  margin-bottom: 1.125rem;
}

.apoiador__formulario--campos{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  /* width: 100%; */
}

.apoiador__formulario--campo{
  display: flex;
  flex-direction: column;
  font-family: Raleway, cursive;
  font-size: 1rem;
  margin-bottom: 1.125rem;
  width: 100%;
  
}

.apoiador__formulario--campo--input{
  height: 3rem;
  width: 100%;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.apoiador__formulario--campo--input::placeholder {
  font: 400 1rem Raleway, sans-serif;
  color: #B8BCCA;
}

.apoiador__formulario--escolha{
  display: flex;
  flex-direction: column;
}

.apoiador__formulario--escolha--texto{
  width: 17.98rem;
  margin-bottom: 1.1875rem;
}

.apoiador__formulario--escolha--checkbox{
  margin-bottom: 0.6rem;
  accent-color: #FF9700;
}

.apoiador__formulario--campo--input--msg{
  height: 8.69rem;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 1rem;
}

.apoiador__formulario--campo--input--msg::placeholder{
  font: 400 1rem Raleway, sans-serif;
  color: #B8BCCA;
}

.apoiador__formulario--campo--label{
  padding-bottom: 0.5rem;
}


.apoiador__enviar{
  display: flex;
  justify-content:flex-end;
  width: 100%;
}

.apoiador__enviar--botao--enviar{
  background: #FF9700;
  color:#F9F9F9;
  display: inline-flex;
  font-family: Raleway, sans-serif;
  font-size: 1.3125rem;
  height: 3.3125rem;
  align-items: center;
  padding: 0 2.875rem;
  border-radius: 0.25rem;
  cursor:pointer;
  transition: 0.2s;
  border: none;
  outline: none;
}

.apoiador__enviar--botao--enviar:hover{
  background: #A7D0D3;
}

@media screen and (min-width:992px){
  .apoiador__formulario{
    width: 25rem;
  }

  .apoiador__formulario--campo--input{
    width: 22rem;
  }

}