.container__apoiador{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 3rem;
}

.apoiador__texto{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.apoiador__texto--titulo{
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 0.8125rem;
  padding-bottom: 1.5rem;
}

.apoiador__texto--conteudo p{
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.apoiador__instagram{
  background:#FF9700;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.4375rem;
  margin-bottom: 2.9375rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 12rem;
  color:#E4E4E4;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.icon-instagram {
  margin-right: 0.5rem;
}

.apoiador__image{
  display: none;
}

@media screen and (min-width:992px){

  .container__apoiador{
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    align-items: flex-start;
    position: relative;
    padding-top: 7rem;
    gap: 4rem;
  }

  .apoiador__texto{
    align-items:flex-start;
    justify-content: center;
    width: 100%;
  }

  .apoiador__texto--titulo{
    text-align: left;
  }

  .apoiador__instagram {
    margin-left: 0;
  }

 .apoiador__image{
    display: block;
    height: 80%; 
  }

  .apoiador__image--celular{
    height: 18.9375rem;
    width: 17.5rem;   
    position: absolute;
    bottom: 0;
    left: 10%;
  }

} 