.acoes__cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

 @media  screen and (min-width: 770px) {
  .acoes__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
} 