  .pularNavegacao,
  .pularNavegacao:active,
  .pularNavegacao:focus,
  .pularNavegacao:hover {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 1px;
    height: 1px;
    display: block;
    color: transparent;
    position: absolute;
  }