.acoes{
  display: flex;;
  flex-direction: column;
  background:#F9F9F9;
  padding-top: 5rem;
  padding-bottom: 10rem;  
}

@media screen and (min-width:992px){
  .acoes{
    margin-top: 6.125rem;
  }
}  