.sobre {
  background: #FFFFFF;
  padding-top: 10rem;
  margin-top: 6.125rem;
  overflow: hidden;
  margin-bottom: 6.125rem;
}

.container__sobre{
 /* display: flex;
 flex-direction: column; */
 /* padding-top: 8.5rem; */
 /* padding-right: 1.5rem;
 padding-bottom: 6.125rem; */
  margin: 0;
}

.sobre__imagem{
  width: 90%;
  height: auto;
  /* box-shadow: 10px 20px 20px #FF9700;*/
  position: relative;
  margin-bottom: 1.6875rem;
}

.sobre__imagem::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #FF9700;
  position: absolute;
  top: -13%;
  right: -20%;
  z-index: 0;
}

.sobre__imagem picture {
  position: relative;
}

.sobre__imagem picture,
.sobre__imagem::before {
  border-radius: 0.25rem;
}

.sobre__texto {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* .sobre__texto{
  padding-left:1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
} */

.sobre__texto--titulo{
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 2.125rem;
  margin-bottom: 1.6875rem;
}

.sobre__texto--conteudo{
  font-size: 1rem;
  line-height: 1.5rem;
}

.sobre__texto--conteudo--paragrafo{
  margin-bottom: 1rem;
} 

.sobre__texto--assinatura{
  padding-top: 1.5rem;
}


@media screen and (min-width:992px){
  
  .container__sobre{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
  }

  .sobre__imagem{
    width: 30%;
    height: auto;
    /* box-shadow: 10px 20px 20px #FF9700;*/
    position: relative;
    margin-bottom: 0;
  }
  
  .sobre__texto {
    width: 55%;
    text-align: left;
    max-width: 50rem;
  }
  
  .sobre__texto--titulo{
    text-align: left;
  }
  


  /* .sobre__imagem--img{
    height: 26.135rem;
    width: 17.40rem;
    margin-top: 6rem;
  }

  .sobre__texto{
    max-width: 39.375rem;
    max-height: 25.5rem;
    text-align: left;
    align-items: flex-start;
  }

  .sobre__texto--titulo{
    text-align: left;

  }

  .sobre__texto--conteudo{
    text-align: left;
  }  */

}




  